<launch>
	<arg 
      name="record" 
      default="disable"
    />

	<include file="$(find iiwa_moveit)/launch/moveit_planning_execution.launch"></include>

	<node
        pkg="segregator"
        name="cam"
        type="cam"
        output = "screen"
    />

 	<node
        pkg="rosbag"
        name="record"
        type="record"
        args="-a -O $(find segregator)/results/kuka.bag"
        if="$(eval record == 'enable')"
    />
</launch>
